html{
    height: 100%;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: aquamarine;
}

h1{
    padding: 100 px;
    font: 40px "Verdana", sans-serif; 
    font-size: 10vw;
}

table {
    display: none;
    border-collapse: collapse;
    table-layout: fixed;
    justify-content: center;
    border: 1px solid black;

  }
th, td{
      border-collapse: collapse;
      text-align: center;
      width: 120px;
      height: 40px; 
      overflow: hidden;
      font-size: 3.75vw;
      border: 1px solid black;
  }

div{
    display: flex;
    justify-content: center;
}
.overallwrapper{
    display: grid;
}

input[type=submit]{
    padding: 12px 20px;
    margin: 8px 0;
    display: flex; 
    justify-content: center;
    justify-self: center;
}

input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
}


.beginningtext{
    display: grid;
    justify-items: center;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    text-align: center;
}
.middletext{
    display: flex;
    justify-items: center;
    margin-left: 45%;
    margin-right: 45%;
    vertical-align: middle;
}


form{
    justify-items: center;
}

.endtext{
    display: grid;
}

p{
    justify-self: center;
    align-items: center;
}

